<h1>About Me..</h1>
<p>It's Gonna Kick All Ass...</p>

<%=link_to 'Home', root_path%>
<%=link_to 'About Us', homee_about_path %>
<h1>About Me..</h1>
<p>My name is Corey Harris and I'm building a Pinterest Clone</p>